<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    ::-webkit-scrollbar {
        display: none;
    }
    body {
        background-color: #131316;
        font-family: 'Outfit';
        margin: 0px;
        color: white;
        overflow-x: hidden;
        cursor: none;
    }
    #cursor {
        position: fixed;
        top: -5px;
        left: -5px;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        pointer-events: none;
        z-index: 9999999;
    }

    #cursor-border {
        --size: 50px;
        position: fixed;
        top: calc(var(--size) / -2);
        left: calc(var(--size) / -2);
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        box-shadow: 0 0 0 1px white;
        pointer-events: none;
        transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
            height 0.15s ease-out, background-color 0.15s ease-out;
        z-index: 1001;
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        cursor: none !important;
    }
    .nav {
        width: 90vw;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;  
        height: 15vh;  
    }
    .nav img {
        height: 3vh;
    }
    .navIcons {
        display: flex;
        gap: 1.7vw;
        align-items: center;
    }
    .navIcon {
        font-size: 0px;
        line-height: 0px;
    }
    .navIcon i {
        font-size: 2vw;
    }
    .navIcon img {
        width: 2vw;
        height: 2vw;
        object-fit: cover;
        border-radius: 2vw;
        cursor: pointer;
    }
    .navIcons a {
        color: white;
        text-decoration: none;
    }
</style>
<div class="nav">
    <div id="cursor"></div>
    <div id="cursor-border"></div>
    <img src="fullLogo.png">
    <div class="navIcons">
        <a data-cursor="pointer" href="/" class="homePageLink">Home</a>
        <a data-cursor="pointer" href="/status" class="rideStatusPageLink">Ride Status</a>
        <a data-cursor="pointer" href="/rewards" class="rewardsPageLink">Rewards</a>
        <a data-cursor="pointer" href="/help" class="helpPageLink">Help</a>
        <div class="navIcon" data-cursor="pointer"><img src="<%= user.pfp %>"></div>
        <div class="navIcon" data-cursor="pointer"><i class="far fa-bell"></i></div>
    </div>
</div>
<script defer>
    window.onload = () => {
    const cursor = document.querySelector("#cursor");
    const cursorBorder = document.querySelector("#cursor-border");
    const cursorPos = { x: 0, y: 0 };
    const cursorBorderPos = { x: 0, y: 0 };

    document.addEventListener("mousemove", (e) => {
        cursorPos.x = e.clientX;
        cursorPos.y = e.clientY;

        cursor.style.transform = `translate(${e.clientX}px, ${e.clientY}px)`;
        });

        requestAnimationFrame(function loop() {
            const easting = 8;
            cursorBorderPos.x += (cursorPos.x - cursorBorderPos.x) / easting;
            cursorBorderPos.y += (cursorPos.y - cursorBorderPos.y) / easting;

            cursorBorder.style.transform = `translate(${cursorBorderPos.x}px, ${cursorBorderPos.y}px)`;
            requestAnimationFrame(loop);
        });

        document.querySelectorAll("[data-cursor]").forEach((item) => {
        item.addEventListener("mouseover", (e) => {
            if (item.dataset.cursor === "pointer") {
                cursorBorder.style.backgroundColor = "transparent";
                cursorBorder.style.setProperty("--size", "80px");
            }
        });
        item.addEventListener("mouseout", (e) => {
            cursor.style.backgroundColor = "#fff";
            cursorBorder.style.backgroundColor = "unset";
            cursorBorder.style.mixBlendMode = "unset";
            cursorBorder.style.setProperty("--size", "50px");   
        });
    });
}
</script>