<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


	<style>
		video {
			width: 500px;
			height: 400px;
			object-fit: cover;
            pointer-events: none;
		}
        body {
            background-color: #131316 !important;
            color: white;
        }
        .nav {
            width: 90vw;
            margin-left: 5vw;
            display: flex;
            align-items: center;
            justify-content: space-between;  
            height: 15vh;  
        }
        .nav img {
            height: 3vh;
        }
        .navIcons {
            display: flex;
            gap: 1.7vw;
        }
        .navIcon {
            font-size: 2vw;
        }

	</style>
</head>

<body>
    <div class="nav">
        <img src="fullLogo.png">
        <div class="navIcons">
            <div class="navIcon"><i class="fas fa-user-circle"></i></div>
            <div class="navIcon"><i class="far fa-bell"></i></div>
        </div>
    </div>

<video id="player" autoplay></video>
<button id="capture">Capture</button>
<canvas id="canvas" width="320" height="240"></canvas>
<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');

  const constraints = {
    video: true,
  };

  captureButton.addEventListener('click', () => {
    // Draw the video frame to the canvas.
    context.drawImage(player, 0, 0, canvas.width, canvas.height);
  });

  navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
    player.srcObject = stream;
  });
</script>

</html>
