<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Outfit';
            cursor: none;
            color: #fff;
        }
        .bg-img {
            width: 100vw;
            aspect-ratio: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -100;
        }
        body {
            background: #18181B;
            overflow: hidden;
        }
        nav {
            width: 100vw;
            height: 15vh;
            padding: 0 6vw;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        nav > h1 {
            color: #fff;
            font-weight: 400;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1vw;
        }
        .login-button {
            font-size: 1vw;
            background: #1A1B1A;
            padding: 0.6vw 2vw;

            color: #fff;
            text-decoration: none;
            border-radius: 10px;
        }
        .reg-button {
            font-size: 1vw;
            background: #466EFF;
            padding: 0.6vw 2vw;

            color: #fff;
            text-decoration: none;
            border-radius: 10px;
        }
        #cursor {
            position: fixed;
            top: -5px;
            left: -5px;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            pointer-events: none;
            z-index: 999;
        }

        #cursor-border {
            --size: 50px;
            position: fixed;
            top: calc(var(--size) / -2);
            left: calc(var(--size) / -2);
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            box-shadow: 0 0 0 1px white;
            pointer-events: none;
            transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
                height 0.15s ease-out, background-color 0.15s ease-out;
            z-index: 999;
        }
        main {
            height: 85vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        form {
            width: 28vw;
            height: 60vh;
            margin-left: 50vw;

            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #18181B;
            border-radius: 14px;
        }
        .top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 2.75vw;
            /* justify-content: center; */

            width: 100%;
            height: calc(61.204vh - 12vh);
        }
        .top > h1 {
            font-weight: 600;
            font-size: 2.5vw;
            margin-bottom: 8px;
        }
        .top > p {
            margin-bottom: 2vw;
        }
        .top > input {
            background: #212123;
            border: none;
            outline: none;
            width: 100%;
            height: 6.5vh;
            padding: 1vw 1.5vw;
            border-radius: 10px;
            font-size: 1vw;
        }
        .top > button {
            font-size: 1vw;
            background: #466EFF;
            padding: 0.6vw 2vw;

            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            outline: none;
            border: none;
        }
        .bottom {
            background: #212123;
            width: 100%;
            height: 12vh;
            border-radius: 0 0 14px 14px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .bottom > p > a {
            color: #466EFF !important;
        }
    </style>
</head>
<body>
    <div id="cursor"></div>
    <div id="cursor-border"></div>
    <img draggable="false" src="/login-bg.png" class="bg-img" alt="">

    <nav>
        <h1>Logo here</h1>
        <div class="buttons">
            <a href="/login" data-cursor="pointer" class="login-button">Log In</a>
            <a href="/register" data-cursor="pointer" class="reg-button">Sign Up</a>
        </div>
    </nav>

    <main>
        <form action="" method="POST">
            <div class="top">
                <h1>Welcome Back...</h1>
                <p>Please enter your email and password.</p>
                <input type="email" style="margin-bottom: 2vh;" name="email" placeholder="Enter your email:">
                <input type="password" style="margin-bottom: 1.5vw;" name="password" placeholder="Enter your password:">
                <!-- <input type="submit"> -->
                <button data-cursor="pointer">Login</button>
            </div>
            <div class="bottom">
                <p>Don't have an account? <a data-cursor="pointer" href="/register">Create Account</a></p>
            </div>
        </form>
    </main>
    <script>
        const cursor = document.querySelector("#cursor");
        const cursorBorder = document.querySelector("#cursor-border");
        const cursorPos = { x: 0, y: 0 };
        const cursorBorderPos = { x: 0, y: 0 };

        document.addEventListener("mousemove", (e) => {
            cursorPos.x = e.clientX;
            cursorPos.y = e.clientY;

            cursor.style.transform = `translate(${e.clientX}px, ${e.clientY}px)`;
            });

            requestAnimationFrame(function loop() {
                const easting = 8;
                cursorBorderPos.x += (cursorPos.x - cursorBorderPos.x) / easting;
                cursorBorderPos.y += (cursorPos.y - cursorBorderPos.y) / easting;

                cursorBorder.style.transform = `translate(${cursorBorderPos.x}px, ${cursorBorderPos.y}px)`;
                requestAnimationFrame(loop);
            });

            document.querySelectorAll("[data-cursor]").forEach((item) => {
            item.addEventListener("mouseover", (e) => {
                if (item.dataset.cursor === "pointer") {
                    cursorBorder.style.backgroundColor = "transparent";
                    cursor.style.backgroundColor = "#16e16e";
                    cursorBorder.style.setProperty("--size", "80px");
                }
            });
            item.addEventListener("mouseout", (e) => {
                cursor.style.backgroundColor = "#fff";
                cursorBorder.style.backgroundColor = "unset";
                cursorBorder.style.mixBlendMode = "unset";
                cursorBorder.style.setProperty("--size", "50px");   
            });
        });

    </script>
</body>
</html>