<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Outfit';
            cursor: none;
            color: #fff;
        }
        .bg-img {
            width: 100vw;
            aspect-ratio: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -100;
        }
        body {
            background: #18181B;
            overflow: hidden;
        }
        nav {
            width: 100vw;
            height: 15vh;
            padding: 0 6vw;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        nav > h1 {
            color: #fff;
            font-weight: 400;
        }
        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1vw;
        }
        .login-button {
            font-size: 1vw;
            background: #1A1B1A;
            padding: 0.6vw 2vw;

            color: #fff;
            text-decoration: none;
            border-radius: 10px;
        }
        .reg-button {
            font-size: 1vw;
            background: #466EFF;
            padding: 0.6vw 2vw;

            color: #fff;
            text-decoration: none;
            border-radius: 10px;
        }
        #cursor {
            position: fixed;
            top: -5px;
            left: -5px;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            pointer-events: none;
            z-index: 999;
        }

        #cursor-border {
            --size: 50px;
            position: fixed;
            top: calc(var(--size) / -2);
            left: calc(var(--size) / -2);
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            box-shadow: 0 0 0 1px white;
            pointer-events: none;
            transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
                height 0.15s ease-out, background-color 0.15s ease-out;
            z-index: 999;
        }
        main {
            height: 85vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        form {
            width: 31vw;
            /* height: 70vh; */
            margin-left: 50vw;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #18181B;
            border-radius: 14px;
        }
        .top {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 5vh;
            /* justify-content: center; */
            gap: 5vh;

            width: 100%;
            height: calc(61.204vh - 12vh);
        }
        .headings > h1 {
            font-weight: 600;
            font-size: 2.5vw;
        }
        .top > p {
        }
        .inputs {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.8vh;
            width: 100%;
        }
        .inputs > input {
            background: #212123;
            border: none;
            outline: none;
            width: 100%;
            height: 6.5vh;
            padding: 1vw 1.5vw;
            border-radius: 10px;
            font-size: 1vw;
        }
        .top > button {
            font-size: 1vw;
            background: #466EFF;
            padding: 0.6vw 2vw;

            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            outline: none;
            border: none;
        }
        .bottom {
            flex-grow: 1;
            background: #212123;
            width: 100%;
            height: 15vh;
            border-radius: 0 0 14px 14px;
            /* margin-top: 2.5vh; */

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .bottom > p > a {
            color: #466EFF !important;
        }
        .svg-top {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -99;
            width: 47vw;
            height: fit-content;
        }
        .svg-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -99;
            width: 100vw;
            height: fit-content;
        }
        .logo {
            
        }
    </style>
</head>
<body>
    <svg class="svg-top" width="903" height="188" viewBox="0 0 903 188" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_b_121_7)">
        <path d="M0 188H61.9067C61.9067 188 703.407 188 750.5 188C815 188 903 -1.52588e-05 903 -1.52588e-05H61.9067H0V188Z" fill="#18181B"/>
        </g>
        <defs>
        <filter id="filter0_b_121_7" x="-188.8" y="-188.8" width="1280.6" height="565.6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="94.4"/>
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_121_7"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_121_7" result="shape"/>
        </filter>
        </defs>
    </svg>        
    <svg class="svg-bottom" width="1920" height="227" viewBox="0 0 1920 227" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 -6.10352e-05L0 227L1920 226.5V178.5H903C842.5 178.5 797 -6.10352e-05 719 -6.10352e-05H1Z" fill="#18181B"/>
    </svg> 
        
        
    <div id="cursor"></div>
    <div id="cursor-border"></div>
    <img draggable="false" src="/login-bg.png" class="bg-img" alt="">

    <nav>
        <!-- <h1>Logo here</h1> -->
        <svg class="logo" width="578" height="119" viewBox="0 0 578 119" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M251.36 118.128C243.41 118.128 236.265 116.355 229.927 112.81C223.588 109.264 218.592 104.43 214.939 98.3058C211.286 92.1818 209.46 85.3058 209.46 77.6777C209.46 74.0042 209.872 70.5125 210.695 67.2025C212.52 59.8698 222.336 59.8698 222.336 59.8698C222.336 59.8698 213.161 59.8698 214.939 56.8884C215.534 55.8915 216.043 55.0949 216.83 54C220.819 48.4483 224.62 45.3526 229.927 42.3843C236.373 38.7314 243.518 36.905 251.36 36.905C257.484 36.905 263.125 38.0331 268.282 40.2893C273.439 42.5455 277.898 45.7686 281.658 49.9587L268.121 63.657C266.08 61.4008 263.608 59.6818 260.708 58.5C257.914 57.3182 254.799 56.7273 251.36 56.7273C247.493 56.7273 244.001 57.6405 240.885 59.4669C237.877 61.186 235.46 63.6033 233.633 66.719C231.914 69.7273 231.055 73.3264 231.055 77.5165C231.055 81.5992 231.914 85.2521 233.633 88.4752C235.46 91.5909 237.877 94.062 240.885 95.8884C244.001 97.6074 247.493 98.4669 251.36 98.4669C254.906 98.4669 258.075 97.876 260.869 96.6942C263.77 95.405 266.241 93.5785 268.282 91.2149L281.98 104.913C278.005 109.211 273.439 112.488 268.282 114.744C263.125 117 257.484 118.128 251.36 118.128Z" fill="white"/>
            <path d="M548.158 116.517C548.158 116.517 548.158 78.5 548.158 66.5C548.158 60 556.503 60.2103 556.503 60C556.503 59.7898 548.158 60.25 548.158 54C548.158 42 548.158 3.22315 548.158 3.22315H570.075C570.075 3.22315 570.075 52 570.075 54C570.075 60 578.003 60 578.003 60C578.003 60 570.075 60 570.075 66.5C570.075 79 570.075 116.517 570.075 116.517H548.158Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M471.442 3.22315C471.442 3.22315 456.805 40 451.001 54C448.568 59.8698 457.638 59.8698 457.638 59.8698C457.638 59.8698 448.758 59.7629 445.969 66.5C434.003 95.405 425.834 116.517 425.834 116.517H448.719L456.805 95.405L463.841 77.0331L480.278 34.1198L496.491 77.0331L503.432 95.405L511.409 116.517H534.776C534.776 116.517 519.003 77.0331 514.713 66.5C512.065 60 501.003 60 501.003 60C501.003 60 512.484 60 509.699 54C503.433 40.5 489.33 3.22315 489.33 3.22315H471.442Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M113.894 38.6777C113.894 38.6777 113.894 48.0163 113.894 54C113.894 59.8698 122.894 59.8698 122.894 59.8698C122.894 59.8698 113.894 59.8698 113.894 67.2025C113.894 79 113.894 116.517 113.894 116.517H135.166C135.166 116.517 135.166 86.4608 135.166 67.2025C135.166 59.8698 143.166 59.8698 143.166 59.8698C143.166 59.8698 135.166 59.8698 135.166 54C135.166 48.0163 135.166 38.6777 135.166 38.6777H113.894Z" fill="white"/>
            <path d="M124.53 26.1074C121.092 26.1074 118.245 24.9793 115.989 22.7231C113.732 20.3595 112.604 17.4587 112.604 14.0207C112.604 10.6901 113.732 7.84298 115.989 5.47935C118.245 3.11571 121.092 1.93389 124.53 1.93389C128.075 1.93389 130.922 3.11571 133.071 5.47935C135.327 7.84298 136.456 10.6901 136.456 14.0207C136.456 17.4587 135.327 20.3595 133.071 22.7231C130.922 24.9793 128.075 26.1074 124.53 26.1074Z" fill="#466EFF"/>
            <path d="M398.934 118.128C395.066 118.128 391.897 116.839 389.425 114.26C386.954 111.682 385.719 108.512 385.719 104.752C385.719 100.992 386.954 97.8223 389.425 95.2438C391.897 92.6653 395.066 91.376 398.934 91.376C402.694 91.376 405.81 92.6653 408.281 95.2438C410.752 97.8223 411.987 100.992 411.987 104.752C411.987 108.512 410.752 111.682 408.281 114.26C405.81 116.839 402.694 118.128 398.934 118.128Z" fill="#466EFF"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.00334353 3.22315C0.00334353 3.22315 0.00334353 43 0.00334353 54C0.00334353 59.8698 8.00334 59.8698 8.00334 59.8698C8.00334 59.8698 0.00765397 59.8698 0.00334353 67.2025C-0.00417941 80 0.00334353 116.517 0.00334353 116.517H21.9207V67.686H71.0736V116.517H92.991C92.991 116.517 92.991 86.4608 92.991 67.2025C92.991 59.8698 101.991 59.8698 101.991 59.8698C101.991 59.8698 92.991 59.8698 92.991 54C92.991 41 92.991 3.22315 92.991 3.22315H71.0736V48.3471H21.9207V3.22315H0.00334353ZM71.0736 48.3471H77.1976V67.686H71.0736V48.3471Z" fill="white"/>
            <path d="M77.1976 67.686V48.3471H71.0736V67.686H77.1976Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M165.31 57.2107C165.31 59.5 172.31 59.8698 172.31 59.8698C172.31 59.8698 165.31 59.8698 165.31 62.5C165.31 73 165.31 116.517 165.31 116.517H186.422C186.422 116.517 186.422 73.5 186.422 62.5C186.422 59.8698 194.422 59.8698 194.422 59.8698C194.422 59.8698 186.422 59.8698 186.422 57.2107C193.534 57.2107 204.633 57.2107 204.633 57.2107V38.6777H186.422V6.28513H165.31V38.6777H147.099V57.2107C147.099 57.2107 158.198 57.2107 165.31 57.2107ZM165.31 57.2107C173.555 57.2107 178.177 57.2107 186.422 57.2107C186.422 49.9731 186.422 38.6777 186.422 38.6777H165.31C165.31 38.6777 165.31 49.9731 165.31 57.2107Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M346.312 71.876V116.517H367.424V67.2025C367.424 59.8698 376.767 60.2397 376.688 59.8698C376.61 59.5 367.416 59.8698 364.79 54C364.418 53.1688 364.007 52.3588 363.556 51.5703C360.978 47.0579 357.378 43.5124 352.759 40.9339C348.246 38.3554 343.035 37.0661 337.126 37.0661C331.217 37.0661 325.953 38.3554 321.333 40.9339C318.973 42.2821 316.878 43.9094 315.048 45.8157V0H293.936C293.936 0 293.936 40.9339 293.936 54C293.936 59.8698 302.936 59.8698 302.936 59.8698C302.936 59.8698 293.936 59.8698 293.936 67.2025C293.936 81.5 293.936 116.517 293.936 116.517H315.048V71.876C315.048 68.7603 315.692 66.0207 316.982 63.657C318.378 61.2934 320.258 59.4669 322.622 58.1777C324.986 56.8884 327.672 56.2438 330.68 56.2438C335.3 56.2438 339.06 57.6942 341.961 60.5951C344.862 63.4959 346.312 67.2562 346.312 71.876ZM315.048 71.876V45.8157C314.909 45.9602 314.772 46.1063 314.636 46.254C313.138 47.8844 311.825 49.7102 310.697 51.7314C308.118 56.2438 306.829 61.562 306.829 67.686L315.048 71.876Z" fill="white"/>
            <path d="M306.829 67.686L315.048 71.876V45.8157C314.909 45.9602 314.772 46.1063 314.636 46.254C313.138 47.8844 311.825 49.7102 310.697 51.7314C308.118 56.2438 306.829 61.562 306.829 67.686Z" fill="white"/>
            <path d="M165.31 57.2107C173.555 57.2107 178.177 57.2107 186.422 57.2107C186.422 49.9731 186.422 38.6777 186.422 38.6777H165.31C165.31 38.6777 165.31 49.9731 165.31 57.2107Z" fill="white"/>
            <circle cx="479.998" cy="76" r="13" transform="rotate(-180 479.998 76)" fill="#466EFF"/>
        </svg>
            
        <div class="buttons">
            <a href="/login" data-cursor="pointer" class="login-button">Log In</a>
            <a href="/register" data-cursor="pointer" class="reg-button">Sign Up</a>
        </div>
    </nav>

    <main>
        <form action="" method="POST">
            <div class="top">
                <div class="headings">
                    <h1>Welcome Back...</h1>
                    <p>Please enter your email and password.</p>
                </div>
                <div class="inputs">
                    <input type="email" name="email" placeholder="Enter your email:">
                    <input type="password" name="password" placeholder="Enter your password:">
                </div>
                <!-- <input type="submit"> -->
                <button data-cursor="pointer">Login</button>
            </div>
            <div class="bottom">
                <p>Don't have an account? <a data-cursor="pointer" href="/register">Create Account</a></p>
            </div>
        </form>
    </main>
    <script>
        const cursor = document.querySelector("#cursor");
        const cursorBorder = document.querySelector("#cursor-border");
        const cursorPos = { x: 0, y: 0 };
        const cursorBorderPos = { x: 0, y: 0 };

        document.addEventListener("mousemove", (e) => {
            cursorPos.x = e.clientX;
            cursorPos.y = e.clientY;

            cursor.style.transform = `translate(${e.clientX}px, ${e.clientY}px)`;
            });

            requestAnimationFrame(function loop() {
                const easting = 8;
                cursorBorderPos.x += (cursorPos.x - cursorBorderPos.x) / easting;
                cursorBorderPos.y += (cursorPos.y - cursorBorderPos.y) / easting;

                cursorBorder.style.transform = `translate(${cursorBorderPos.x}px, ${cursorBorderPos.y}px)`;
                requestAnimationFrame(loop);
            });

            document.querySelectorAll("[data-cursor]").forEach((item) => {
            item.addEventListener("mouseover", (e) => {
                if (item.dataset.cursor === "pointer") {
                    cursorBorder.style.backgroundColor = "transparent";
                    cursor.style.backgroundColor = "#16e16e";
                    cursorBorder.style.setProperty("--size", "80px");
                }
            });
            item.addEventListener("mouseout", (e) => {
                cursor.style.backgroundColor = "#fff";
                cursorBorder.style.backgroundColor = "unset";
                cursorBorder.style.mixBlendMode = "unset";
                cursorBorder.style.setProperty("--size", "50px");   
            });
        });

    </script>
</body>
</html>