<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rewards</title>
    <link rel="icon" type="image/png" href="logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
        body {
            background-color: #131316 !important;
            color: white;
            overflow-x: hidden;
        }
        .header {
            width: 88vw;
            display: flex;
            justify-content: space-between;
            margin-left: 6vw;
            margin-top: 2.5vh;
        }
        .blueRewards {
            width: 52.8vw;
            line-height: 0px;
            font-size: 0px;
        }
        .blueRewards img {
            width: 52.8vw;
        }
        .sideKeCards {
            display: flex;
            justify-content: space-between;
            width: 31.7vw;
            flex-direction: column;
            gap: 1vw;
        }
        .sideKaCard {
            flex: 1;
            background-color: #18181b;
            border-radius: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2vw;
        }
        .sideKaCard img {
            height: 5vw;
            margin-top: 1.1vw;
        }
        .sideKaCard p {
            font-size: 4.5vw;
            margin: 0px;
        }
        .redeem {
            display: flex;
            justify-content: space-between;
            width: 88vw;
            margin-left: 6vw;
            margin-top: 3vw;
            align-items: center;
        }
        .redeem p {
            margin: 0px;
            font-size: 2.7vw;
        }
        .scrollIcons {
            display: flex;
            gap: 5px;
            align-items: center;
            color: #ccc;
        }
        .scrollIcons i {
            cursor: pointer;
            transition: 0.2s;
        }
        .scrollIcons i:hover {
            transform: scale(1.1, 1.1);
        }
        .companiesGrid {
            display: flex;
            flex-wrap: wrap;
            <% if (user.rewards.length < 4) { %>
            width: 193vw;
            <% } %>
            margin-left: 6vw;
            gap: 3vw;
            margin-top: 1.5vw;
            margin-bottom: 1.5vw;
        }
        .companiesGridBox {
            padding: 0.75vw;
            background-color: #2A2A2A;
            font-size: 0px;
            line-height: 0px;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
            transition: 0.2s;
        }
        .companiesGridBox:nth-child(5) {
            margin-left: 8vw;
        }
        .companiesGridBox:hover {
            transform: scale(1.1, 1.1);
        }
        .companiesGridBox img {
            width: 18.25vw;
        }
        .companiesGridContainer {
            overflow: hidden;
        }
        .redeemedContainer {
            background-color: rgba(200, 200, 200, 0.75);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: black;
            font-size: 1.3vw;
            display: flex;
            justify-content: center;
            border-radius: 5px;
            padding-top: 2vw;
        }
        .alertBox {
            position: fixed;
            bottom: 2vw;
            right: 2vw;
            border-radius: 8px;
            background-color: #466EFF;
            padding: 1.1vw;
            font-size: 1.22vw;
            width: 20vw;
            transform: translateX(22vw);
            transition: 0.3s;
        }
        .rewardsPageLink {
            color: #466EFF !important;
        }
    </style>
</head>
<body>
    <%- include('./partials/cursor.ejs') %>
    <div class="header">
        <div class="blueRewards">
            <img src="rewardsBanner.png">
        </div>
        <div class="sideKeCards">
            <div class="sideKaCard">
                <img src="points.png">
                <p><%= user.points %></p>
            </div>
            <div class="sideKaCard">
                <img src="co2.png">
                <p><%= user.carbonEmissions %>g</p>
            </div>
        </div>
    </div>
    <div class="redeem">
        <p>Redeem</p>
        <div class="scrollIcons">
            <i class="fas fa-chevron-left" onclick="scrollToTheLeft()"></i>
            <span id="scrollPageNumber">1</span>
            <i class="fas fa-chevron-right" onclick="scrollToTheRight()"></i>
        </div>
    </div>
    <div class="companiesGridContainer" id="companiesGridContainer">
        <div class="companiesGrid">
            <% if(!user.rewards.includes('prime')) { %>
                <div class="companiesGridBox">
                    <img src="prime.png" onclick="claimReward('prime')">
                </div>
            <% } %>
            <% if(!user.rewards.includes('netflix')) { %>
                <div class="companiesGridBox">
                    <img src="netflix.png" onclick="claimReward('netflix')">
                </div>
            <% } %>
            <% if(!user.rewards.includes('spotify')) { %>
                <div class="companiesGridBox">
                    <img src="spotify.png" onclick="claimReward('spotify')">
                </div>
            <% } %>
            <% if(!user.rewards.includes('fifa')) { %>
                <div class="companiesGridBox">
                    <img src="fifa.png" onclick="claimReward('fifa')">
                </div>
            <% } %>
            <% if(!user.rewards.includes('amazon')) { %>
                <div class="companiesGridBox">
                    <img src="amazon.png" onclick="claimReward('amazon')">
                </div>
            <% } %>
            <% if(!user.rewards.includes('flipkart')) { %>
                <div class="companiesGridBox">
                    <img src="flipkart.png" onclick="claimReward('flipkart')">
                </div>
            <% } %>
            <% if(!user.rewards.includes('roblox')) { %>
                <div class="companiesGridBox">
                    <img src="roblox.png" onclick="claimReward('roblox')">
                </div>
            <% } %>
            <% if(!user.rewards.includes('adobe')) { %>
                <div class="companiesGridBox">
                    <img src="adobe.png" onclick="claimReward('adobe')">
                </div>
            <% } %>
        </div>
    </div>
    <div class="alertBox" id="alertBox">
        <i class="fas fa-check-circle" style="font-size: 1.3vw;"></i>&nbsp;
        <span id="responsetext"></span>
    </div>
    <script>
        function scrollToTheRight() {
            const div = document.getElementById('companiesGridContainer'),
            scrollPosition = div.scrollWidth - div.clientWidth
            div.scrollTo({
                left: scrollPosition,
                behavior: 'smooth'
            })
            document.getElementById('scrollPageNumber').innerHTML = '2'
        }
        function scrollToTheLeft() {
            const div = document.getElementById('companiesGridContainer')
            div.scrollTo({
                left: 0,
                behavior: 'smooth'
            })
            document.getElementById('scrollPageNumber').innerHTML = '1'
        }
        function claimReward(company) {
            const xhr = new XMLHttpRequest()
            xhr.open('POST', '/api/claimReward')
            xhr.onload = () => {
                console.log(xhr.responseText)
                const responsetextdiv = document.getElementById('responsetext')
                const div = document.getElementById('alertBox')
                responsetextdiv.innerHTML = xhr.responseText
                div.style.transform = 'translateX(0px)'
                setTimeout(() => {
                    div.style.transform = 'translateX(22vw)'
                    setTimeout(() => {
                        window.location.reload()
                    }, 400)
                }, 4000)
            }
            xhr.setRequestHeader('Content-type', 'application/json')
            xhr.send(`{"company":"${company}"}`)
        }
    </script>
</body>
</html>